---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso Legal">
  <main>
    <h1 class="title">Aviso Legal</h1>
    <p>
      En cumplimiento de la Ley 34/2002, de 11 de julio, de servicios de la
      sociedad de la información y de comercio electrónico (LSSICE), a
      continuación se indican los datos de información general del sitio web:
    </p>

    <h2>Datos del titular del sitio web</h2>
    <p>
      <strong>Nombre del titular:</strong> [Nombre del representante legal o empresa]<br
      />
      <strong>NIF/CIF:</strong> [NIF/CIF del representante legal o empresa]<br
      />
      <strong>Domicilio:</strong> [Dirección postal virtual]<br />
      <strong>Teléfono:</strong> [Número de teléfono profesional]<br />
      <strong>Correo electrónico:</strong> [Correo electrónico profesional]
    </p>

    <h2>Condiciones de uso</h2>
    <p>
      El uso de este sitio web implica la aceptación plena y sin reservas de los
      términos y condiciones contenidos en este aviso legal. El usuario se
      compromete a utilizar este sitio web de manera lícita, conforme a lo
      dispuesto en estos términos y condiciones, y de manera que no cause
      perjuicio a los derechos o intereses de terceros o que de cualquier forma
      pueda dañar, inutilizar, sobrecargar o deteriorar el sitio web o impedir
      su normal utilización.
    </p>

    <h2>Propiedad intelectual e industrial</h2>
    <p>
      El contenido de este sitio web, incluyendo a título enunciativo pero no
      limitativo, los textos, fotografías, gráficos, imágenes, iconos,
      tecnología, software, links y demás contenidos audiovisuales o sonoros,
      así como su diseño gráfico y códigos fuente, es propiedad intelectual del
      titular del sitio web o de terceros, sin que puedan entenderse cedidos al
      usuario ninguno de los derechos de explotación reconocidos por la
      normativa vigente en materia de propiedad intelectual sobre los mismos.
    </p>

    <h2>Exclusión de garantías y responsabilidad</h2>
    <p>
      El titular del sitio web no se hace responsable, en ningún caso, de los
      daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a
      título enunciativo: errores u omisiones en los contenidos, falta de
      disponibilidad del sitio web, transmisión de virus o programas maliciosos
      o lesivos en los contenidos, a pesar de haber adoptado todas las medidas
      tecnológicas necesarias para evitarlo.
    </p>

    <h2>Modificaciones</h2>
    <p>
      El titular del sitio web se reserva el derecho de efectuar sin previo
      aviso las modificaciones que considere oportunas en su sitio web, pudiendo
      cambiar, suprimir o añadir tanto los contenidos y servicios que se presten
      a través del mismo como la forma en la que éstos aparezcan presentados o
      localizados en su sitio web.
    </p>

    <h2>Enlaces</h2>
    <p>
      En el caso de que en este sitio web se dispusiesen enlaces o hipervínculos
      hacía otros sitios de Internet, el titular del sitio web no ejercerá
      ningún tipo de control sobre dichos sitios y contenidos. En ningún caso el
      titular del sitio web asumirá responsabilidad alguna por los contenidos de
      algún enlace perteneciente a un sitio web ajeno, ni garantizará la
      disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud,
      veracidad, validez y constitucionalidad de cualquier material o
      información contenida en ninguno de dichos hipervínculos u otros sitios de
      Internet.
    </p>

    <h2>Derecho de exclusión</h2>
    <p>
      El titular del sitio web se reserva el derecho a denegar o retirar el
      acceso a portal y/o los servicios ofrecidos sin necesidad de preaviso, a
      instancia propia o de un tercero, a aquellos usuarios que incumplan las
      presentes Condiciones Generales de Uso.
    </p>

    <h2>Legislación aplicable y jurisdicción</h2>
    <p>
      La relación entre el titular del sitio web y el usuario se regirá por la
      normativa española vigente y cualquier controversia se someterá a los
      Juzgados y tribunales de la ciudad de [ciudad], salvo que la ley aplicable
      disponga otra cosa.
    </p>

    <h2>Contacto</h2>
    <p>
      En caso de que cualquier usuario tuviese alguna duda acerca de estas
      condiciones legales o cualquier comentario sobre el portal, por favor
      diríjase a [correo electrónico profesional].
    </p>
  </main>
</Layout>

<style>
  main {
    max-width: 51rem;
    margin: 3rem auto;
    align-items: flex-start;
  }

  .title {
    text-align: center;
    margin: 0rem auto 3rem auto;
  }

</style>
