---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Politica de cookies">
  <main>
    <h1 class="title">Politica de cookies</h1>
    <p>
      En nuestro sitio web, utilizamos cookies para mejorar la experiencia del
      usuario y analizar el tráfico del sitio. Esta política de cookies explica
      qué son las cookies, cómo las utilizamos y cómo puedes controlarlas.
    </p>

    <h2>¿Qué son las cookies?</h2>
    <p>
      Las cookies son pequeños archivos de texto que se almacenan en tu
      dispositivo cuando visitas un sitio web. Las cookies permiten que el sitio
      web recuerde tus acciones y preferencias (como inicio de sesión, idioma,
      tamaño de fuente y otras preferencias de visualización) durante un período
      de tiempo, para que no tengas que volver a configurarlas cada vez que
      vuelvas al sitio o navegues de una página a otra.
    </p>

    <h2>¿Cómo utilizamos las cookies?</h2>
    <p>Utilizamos cookies para diversas finalidades:</p>
    <ul>
      <li>
        <strong>Cookies esenciales:</strong> Estas cookies son necesarias para el
        funcionamiento básico del sitio web. Sin estas cookies, el sitio web no puede
        funcionar correctamente.
      </li>
      <li>
        <strong>Cookies de análisis:</strong> Utilizamos Google Analytics para recopilar
        información sobre cómo los visitantes utilizan nuestro sitio. Estas cookies
        recopilan información de forma anónima, incluyendo el número de visitantes
        al sitio, de dónde han llegado los visitantes al sitio y las páginas que
        visitaron.
      </li>
      <li>
        <strong>Cookies de publicidad:</strong> Participamos en el programa de afiliados
        de Amazon, que utiliza cookies para realizar un seguimiento de las ventas
        generadas a través de los enlaces de afiliados en nuestro sitio. Estas cookies
        permiten a Amazon recompensarnos por las compras calificadas realizadas a
        través de nuestros enlaces.
      </li>
    </ul>

    <h2>Control de cookies</h2>
    <p>
      Puedes controlar y/o eliminar las cookies como desees. Para más
      información, consulta <a
        href="https://www.aboutcookies.org"
        target="_blank">aboutcookies.org</a
      >. Puedes eliminar todas las cookies que ya están en tu ordenador y
      configurar la mayoría de los navegadores para que no se acepten cookies.
      Sin embargo, si haces esto, es posible que tengas que ajustar manualmente
      algunas preferencias cada vez que visites un sitio y que algunos servicios
      y funcionalidades no funcionen.
    </p>

    <h2>Contacto</h2>
    <p>
      Si tienes alguna pregunta sobre nuestra política de cookies, puedes
      contactarnos en [tu correo electrónico de contacto].
    </p>
  </main>
</Layout>

<style>
  main {
    max-width: 51rem;
    margin: 3rem auto;
    align-items: flex-start;
  }

  .title {
    text-align: center;
    margin: 0rem auto 3rem auto;
  }
  
</style>
